<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Pet</title>
</head>
<body>
    <form action="/pets/create" method="POST" enctype="multipart/form-data"> 
<div>
<label for="name">Nombre</label>
    <input type="text" id="name" name="name">
</div>
    

<div>
<label for="age">Edad</label>
    <input type="number" id="age" name="age">
</div>

<div>
<label for="breed">Raza</label>
    <input type="text" id="breed" name="breed">
</div>

    <div>
<label for="color">Color</label>
    <input type="text" id="color" name="color">
    </div>

    <div>
<label for="specie">Especie</label>
    <input type="text" id="specie" name="specie">
    </div>

    <div>
 <label for="avatar">Image</label>
    <input type="file" id="avatar" name="avatar">
    </div>

   <button type="submit">Crear Mascota</button>

    </form>
</body>
</html>