<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    <title>Pets</title>
    <style>
        a {
            display: block;
            margin-bottom: 20px;
        }

        div {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>Nuestras Mascotas</h1>
<div>
    <a href="/">Volver</a>
</div>
<div>
    <a href="/pets/create-pet">Crear Pet</a>
</div>
    <ul>
        {{#each pets}}
        <li>
            <h3>Name: <a href="/pets/{{_id}}">{{name}}</a> </h3>
            <p>Age: {{age}}</p>
            <p>Breed: {{breed}}</p>
            <p>Color: {{color}}</p>
            <p>Specie: {{specie}}</p>
            {{#if image}}
            <img style="width: '200px;" src="{{image}}">
            {{/if}}
        </li>
        {{/each}}
    </ul>

</body>

</html>